body {
    font-family: Arial, sans-serif;
    background: #f3f7fb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

.card {
    background: #fff;
    width: 550px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    overflow: hidden;
    text-align: center;
}

.card-header {
    background: #00bcd4;
    height: 115px;
}

.card img {
    width: 150px;
    height: 150px;  
    border-radius: 50%;
    border: 5px solid #fff;
    margin-top: -60px; /* hace que la foto sobresalga */
    margin-left: -60%;
}

.card h2 {
    margin: 10px 0 5px;
    font-size: 22px;
    font-weight: bold;
    margin-right: 60%;
}


.card p {
    margin: 5px 20px;
    color: #555;
    font-size: 14px;
}

.card .location {
    font-size: 14px;
    color: #777;
    margin-right: 60%;
    padding: 10px;
}

.card .bio {
    font-size: 13px;
    margin: 15px 20px;
    color: #444;
    text-align: left;
    margin-left: 8%;
}

.card button {
    margin: 15px 0 25px;
    padding: 10px 20px;
    margin-right: 60%;
    border: none;
    border-radius: 6px;
    background: #f1f1f1;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.3s;
}

.card button:hover {
    background: #ddd;
}